<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Tokket.Tokkepedia" value="https://pkgs.dev.azure.com/Tokket/_packaging/Tokket.Tokkepedia/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <Tokket.Tokkepedia>
      <add key="Username" value="%USER_VARIABLE%" />
      <add key="ClearTextPassword" value="%PASSWORD_VARIABLE%" />
    </Tokket.Tokkepedia>
  </packageSourceCredentials>
</configuration>